@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Thin.ttf');
}

* {
  font-family: 'RobotoMono', monospace;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
  background: linear-gradient(to right, rgb(83, 105, 118), rgb(50, 58, 100));
}

.title {
  font-size: 2.5em;
}

@media (max-width: 700px) {
  body {
    margin: 0;
  }

  .title {
    display: none;
  }
}